/* General */
body {
    margin: 0;
    font-family: Verdana, sans-serif;
    color: #333333;
    background-color: #cad8de;
}

.container {
    text-align: center;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

h2 {
    margin: 0;
    padding: 25px 10px;
    font-size: 35px;
}

.btn {
    font-family: Verdana, sans-serif;
    font-size: 17px;
    color: #d5e0e4;
    background-color: #333333;
    padding: 12px 25px;
    border: 1px solid #aab5b9;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    min-width: 210px
}

.btn:hover {
    background-color: #1d1d1d;
    box-shadow: 0 0 10px #535353;
}

.btn:focus {
    outline: none !important;
}

.msg {
    font-size: 18px;
    color: #ab1212;
}

footer {
    background-color: #333333;
    color: #d5e0e4;
    text-align: center;
    font-size: 13px;
    padding: 25px;
}


/* Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: #b5b5b5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #f8f8f8;
}

.active {
    background-color: #5b5959;
    color: #cfcfcf !important;
}


/* Home Page */
.info {
    margin: 50px;
    font-size: 17px;
}


/* Registration Page */
form {
    margin-bottom: 70px;
    display: inline-block;
    width: 45%;
}

label {
    text-align: start;
    float: left;
    margin: 6px 10px;
    font-size: 17px;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #aab5b9;
    border-radius: 7px;
    background-color: #d5e0e4;
    font-size: 16px;
    color: #333333bf;
}

input:focus, select:focus {
    outline: none !important;
    border:2px solid #adadad;
    box-shadow: 0 0 10px #719ECE;
}

h4 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 22px;
}

.required-field {
    color: #a09f9f;
    font-size: 15px;
}


/* Display Page */
table, th, td {
    border: 1px solid #aab5b9;
    border-collapse: collapse;
    text-align: center;
    font-size: 17px;
    font-weight: normal;
    padding: 10px;
    background-color: #d5e0e4;
    color: #333333bf;
}

thead tr th {
    background-color: #333333;
    color: #cad8de;
    font-size: 17px;
    font-weight: normal;
    min-width: 250px;
    padding: 10px;
}

.icon-btn {
    background: transparent;
    border: none;
    color: #333333;
    font-size: 18px;
    margin: 0 6px;
}

.icon-btn:hover {
    color: #726f6f;
    cursor: pointer;
}

.icon-btn:focus {
    outline: none !important;
}

table .user-item:hover td{
    background-color: #e3e8ec;
}


/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #726f6f;
    color: #cad8de;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 15px;
    font-weight: normal;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}