<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/" data-toggle="tab">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register" data-toggle="tab">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/display" data-toggle="tab">Display</a>
        </li>
    </ul>
</nav>
